:root{
    --color1 : #9D8189;
    --color2: #CEBEBE;

    --modernColor1: #17181F;
    --modernColor2: #6C72CB;
    --modernColor3: #CB68C1;
    --modernColor4: #eeedf0;


    --fontFamily: comic sans ms;
}