@import url("./_variables.css");
@import url("./menu.css");
@import url("./signin.css");
@import url("./aboutUs.css");

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--fontFamily);
    height: 100%;
    width: 100%;
    background-color: var(--modernColor1);
}